*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.conteiner{
    max-width: 1170px;
    margin: auto;
}

/* css start */

.header{
    background: #3498db;
}
.logo-div{
    width: 30%;
    float: left;
}
.logo-div img {
    max-width: 100%;
    width: 176px;
}

.menu ul {
    width: 70%;
    float: right;
    list-style: none;
    text-align: right;
}
.menu ul li {
    display: inline-block;
    margin-right: -4px;
}
.menu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 18px 20px;
    display: inline-block;
    font-size: 23px;
    transition: .5s;
    border-right: 1px solid #fff;
}
.menu ul li a:hover{
    background: #2980b9;
}
.menu ul li a:first-child{
    border-left: 1px solid #fff;
}
.menu ul li a:hover.active{
    background-color:#2980b9;
}


/* dropdown menu */


/* .menu ul li{
    position: relative;
}
.menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
}
.menu ul li ul{
    position: absolute;
    background: #1788d4;
    width: 200px;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.menu ul li ul li {
	display: block;
	margin-right: 1px;
	border-bottom: 1px solid #fff;
}
.menu ul li ul li a {
    border: none;
    display: block;
}
.menu ul li ul li a:first-child{
    border-left: none;
} */

/* banner section */

.banner{
    background-image: url(./banner-img-1-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-clip: cover;
    padding: 200px;
}
.banner h1{
    text-align: center;
}
.banner h2{
    text-align: center;
}
.banner h1 {
    text-align: center;
    font-size: 32px;
    padding: 10px 4px;
    background: #1561c3d6;
    width: 339px;
    margin: auto;
    border-radius: 7px;
    margin-bottom: 22px;
    color: #fff;
}
.banner h2 {
	text-align: center;
	padding: 10px 30px;
	background: #0c2d58a1;
	width: 350px;
	margin: auto;
	font-size: 40px;
	border-radius: 7px;
	color: #fff;
}

/* about section */
.about-section{
    background: #ecf0f1;
    padding: 40px;
}
.about{
    text-align: center;
}
.about h2 {
    font-size: 35px;
    margin-bottom: 8px;
}
.about p {
    font-size: 22px;
    line-height: 30px;
}

/* service section */
.service-section{
    padding: 50px;
    background: #f6f6f6;
}
.all-service{}

.service-item{
    float: left;
    width: 31.3%;
    text-align: center;
}
.service-item{
    margin-right: 2%;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}
.service-item:last-child{
    margin-right: 0px;
}
.far.fa-lightbulb {
	font-size: 23px;
	color: #fff;
	background: #3498DB;
	width: 45px;
	height: 45px;
	line-height: 39px;
	border-radius: 0px 7px 0px 8px;
	margin-bottom: 24px;
}
.service-item h2 {
	font-size: 26px;
	margin-bottom: 13px;
}
.service-item p {
	font-size: 22px;
	line-height: 25px;
	font-weight: normal;
}

/* blog section */
.blog-section{
    background: #f7f7f7;
}

.left-img{
    width: 65%;
    float: left;
}
.left-img img{
    float: left;
    width: 199px;
    margin-right: 15px;
    margin-bottom: 20px;
}
.left p{
    float: right;
    font: 22px;

}
.right-content {
    width: 30%;
    float: right;
}
h1 {
    text-align: center;
}

.right-content ul li {
    line-height: 48px;
    font-size: 22px;
    border: 1px solid #ddd;
}
p {
	font-size: 21px;
	line-height: 29px;
}
.right-content{
    width: 30%;

    float: right;
}


.right-content ul {
    list-style: none;
}
.right-content ul li {
    line-height: 64px;
    font-size: 22px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.right-content {
	width: 30%;
	float: right;
	margin-top: -279px;
}

/* footer section */
.footer-section{
    background: #1E1E1E;
    padding: 40px;
}

.footer h2{
    text-align: center;
    color: #fff;
    font-size: 25px;
}